.footer {
    width: 100%;
    padding: 1.25rem;
    background-color: #f6f9fd;
    font-family: 'Nunito';
    .copyright {
        a {
            color: #d4d5d7;
            font-weight: 300;
            font-size: 0.875rem;
        }
    }
}