.header-cover {
    padding: 1.25rem 0 !important;
    @media(min-width: 1200px) {
        margin-bottom: 1.5rem;
    }
    .flex-us {
        display: flex;
        justify-content: space-between;
        .pageTitle {
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}